@model Arsenal.Models.ArsenalDataModels.Transaction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GstAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GstAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PstAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PstAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransactionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
